{% extends '::base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block vote %}
<div class="span6">
  <img src="http://placehold.it/150x150">
  <h3>Guililguilist</h3>
  <p><a data-toggle="modal" href="{{ path('watcher_vote', {'id' : 2})}}"  data-target="#modalVote" role="button" class="btn btn-large btn-primary" >Je supporte la Guili</a></p>
</div>
<div class="span6">
  <img src="http://placehold.it/150x150">
  <h3>Wall'List</h3>
  <p><a data-toggle="modal" href="{{ path('watcher_vote', {'id' : 1})}}"  data-target="#modalVote" role="button" class="btn btn-large btn-danger" >Je supporte la Wall'List</a></p>
</div>


<div id="modalVote" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalVoteLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="ModalVoteLabel">Valider votre vote</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endblock %}


{% block tendances %}
<div id="tendance">
</div>
{% endblock %}



{% block javascripts %}


<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {

        $("#modalVote").on('hide', function() {
             $(this).removeData('modal');
        });

        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'tendance',
                type: 'spline'
            },
            title: {
                text: 'Votes'
            },
            subtitle: {
                text: 'Sous titre'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Nombre de votes'
                },
                min: 0,
             },
            tooltip: {
                formatter: function() {
                        return ''+
                        Highcharts.dateFormat('%e. %b %Y, %H H', this.x) +': '+ this.y +' votants';
                }
            },
            plotOptions: {
                spline: {
                    lineWidth: 4,
                    states: {
                        hover: {
                            lineWidth: 5
                        }
                    },
                    marker: {
                        enabled: false,
                        states: {
                            hover: {
                                enabled: true,
                                symbol: 'circle',
                                radius: 5,
                                lineWidth: 1
                            }
                        }
                    },
                    pointStart: Date.UTC(2013, 2, 10, 0, 0, 0)
                }
            },
            series: [{
                name: 'Guili',
                data: [[1362948149000,0]{% for vote in vote_guiliguilist %},[{{ (vote.datev|date('U') + 3600) * 1000 }},{{ vote.c }}]{% endfor %}]
    
            }, {
                name: 'Wall-E',
                data: [[1362948149000,0]{% for vote in vote_wall_liste %},[{{ (vote.datev|date('U') + 3600) * 1000 }},{{ vote.c }}]{% endfor %}]
            }]
            ,
            navigation: {
                menuItemStyle: {
                    fontSize: '10px'
                }
            }
        });
    });
    
});
</script>
{% endblock %}
